/* 
    Document   : estilo
    Created on : 23/11/2012, 17:48:52
    Author     : Mateus
    Description:
        Purpose of the stylesheet follows.
*/

#logo{
    height:140px; 
    width:290px; 
    float: left; 
    margin-left: 15px; 
    margin: 15px;
}


